*{
  box-sizing: border-box;
}

h1{
  margin:auto;
  width: 70%;
  font-weight: bold;
  font-size: 100px;
  padding-top: 50px;
}

a{
  text-decoration: none;
}

.navi{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: gainsboro;
  height: 60px;
  border-bottom: salmon solid 2px;
  z-index: 10;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.navi a{
  width: auto;
  float: left;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 25px;
  padding-right: 25px;
  border: 2px solid gainsboro;
  border-radius: 3px;
  margin-top: 1px;
  margin-bottom: 5px;
  font-family: monospace;
  background-color: red;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nave a:link, .navi a:visited{

}

.navi a:hover{
  background-color: #c2bdbd;
  color: #242222;
}

.navi a:active{
  background-color: #9f9797;
}

.selfie{
  width: 250px;
  margin-left: 15%;
  margin-right: auto;
  margin-top: 50px;
  margin-right: 100px;
  display: block;
  border: inset 10px tomato;
  border-radius: 100px;
  float: left;
  padding: 0 0 0 0;
}

.stag1{
  width: 20%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: sticky;
  bottom: 0px;
  margin-left: 2.5%;
  margin-right: auto;
  margin-bottom: 0;
  z-index: 1;
  text-align: center;
  background-color: orange;
}

.stag2{
  width: 20%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: sticky;
  bottom: 0px;
  margin-left: 23%;
  margin-right: auto;
  margin-bottom: 0;
  z-index: 1;
  text-align: center;
  background-color: deepskyblue;
}

.stag1 a{
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px darkred, 2px 2px 5px yellow;
}

.stag2 a{
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px dodgerblue, 2px 2px 5px purple;
}

.bbox{
  width: 95%;
  margin: auto;
  margin-top: 0px;
  border-top: 0px;
  border-radius: 50px;
}
